<launch>
  <!-- launch gazebo -->
  <include file="$(find franka_gazebo)/launch/franka.launch"/>
  
  <!-- ros_control panda launch file -->
  <include file="$(find franka_gazebo)/launch/panda_gazebo_states.launch"/>

  <!-- ros_control trajectory control panda launch file -->
  <include file="$(find franka_gazebo)/launch/panda_trajectory_controller.launch"/>

  <!-- moveit launch file -->
  <include file="$(find panda_moveit)/launch/moveit_planning_execution.launch"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"> 
      <param name="/use_gui" value="false"/>
      <rosparam param="/source_list"> [/move_group/fake_controller_joint_states] </rosparam>
  </node>

<!-- band aid solution to the problem, need to find the issue so I can solve it directly. 
need to figure out where to remap /panda/joint_states to /joint_states. Removeing the remap that
remaps /joint_states to /panda/joint_States does nothing -->
    <node name="joint_state_merger" pkg="joint_state_publisher" type="joint_state_publisher">

		<rosparam command="load" file="$(find panda_moveit)/config/source_list.yaml"/>

	</node>


<!--   <node name="test_registration" pkg="testing_image_transport" type="test_registration" output="screen" />

  <arg name="node_start_delay" default="7.0" /> 
  <node name="test_custom_node" pkg="test_movement" type="test_custom_node" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " /> -->

</launch> 

