<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="urdf_path" default="$(find xacro)/xacro --inorder $(find encoderless_robots)/desc/top_module.xacro"/>

  <!-- <param name="wall" command="$(find xacro)/xacro.py $(find gazebo_worlds)/objects/table.urdf.xacro" /> -->
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" default="worlds/empty.world"/> -->
    <arg name="world_name" default="$(find encoderless_robots)/desc/world/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" command="$(arg urdf_path)" />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0"
    respawn="false" output="screen" />

    <rosparam file="$(find encoderless_robots)/config/ros_controllers.yaml" command="load"/> 

    <!-- Load the controllers -->
     <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/panda" args="
      joint_state_controller
      arm_controller"/>

       <include file="$(find relaxed_ik)/launch/load_info_file.launch">
        <arg name="info_file_name" default="franka_info_with_mer_lab.yaml"/>
        </include>

         <include file="$(find relaxed_ik)/launch/relaxed_ik_python.launch"/>

</launch>
