<?xml version="1.0"?>
<launch>
  <include file="$(find active_vision)/launch/workspace.launch" />

  <group ns="active_vision">
    <rosparam file="$(find active_vision)/config/GB_defaults.yaml" />
  </group>

  <arg name="policy" default="NIL" doc="NIL / HEURISTIC / PCA_LDA_LR / PCA_LR" />

  <arg name="policyCommonName" default="prismNewVP_" doc="Common name or prefix for the .pkl files" />

  <arg name="CSV" default="default.csv" doc="csv file name to save the results" />
  <arg name="objID" default="2" doc="0->Drill, 1->Sq Prism, 2->Rect Prism" />
  <arg name="moveMode" default="2" doc="1->Normal, 2->New" />

  <env name="ROSCONSOLE_FORMAT" value='[${severity}]: ${message}'/>

  <group if="$(eval arg('policy') == 'NIL')">
    <node name="policyTester" pkg="active_vision" type="policyTester" args="$(arg CSV) $(arg objID) $(arg moveMode) 0" output="screen"/>
  </group>
  <group if="$(eval arg('policy') == 'HEURISTIC')">
    <node name="heuristicPolicyService" pkg="active_vision" type="heuristicPolicyService" args="0" output="screen" launch-prefix="gnome-terminal --" />
    <node name="policyTester" pkg="active_vision" type="policyTester" args="$(arg CSV) $(arg objID) $(arg moveMode) 1" output="screen"/>
  </group>
  <group if="$(eval arg('policy') == 'PCA_LDA_LR')">
    <node name="trainedPolicyService" pkg="active_vision" type="trainedPolicyService.py" args="$(arg policyCommonName)" output="screen" launch-prefix="gnome-terminal --" />
    <node name="policyTester" pkg="active_vision" type="policyTester" args="$(arg CSV) $(arg objID) $(arg moveMode) 2" output="screen"/>
  </group>
  <group if="$(eval arg('policy') == 'PCA_LR')">
    <node name="trainedPolicyService" pkg="active_vision" type="trainedPolicyService.py" args="$(arg policyCommonName)" output="screen" launch-prefix="gnome-terminal --" />
    <node name="policyTester" pkg="active_vision" type="policyTester" args="$(arg CSV) $(arg objID) $(arg moveMode) 2" output="screen"/>
  </group>

</launch>
