<?xml version="1.0"?>
<launch>
  <arg name="config" />

  <include file="$(find active_vision)/launch/workspace.launch" />

  <arg name="policy" default="NIL" doc="NIL / HEURISTIC / PCA_LDA / PCA" />

  <rosparam param="/active_vision/policyTester/policy" subst_value="True">$(arg policy)</rosparam>

  <env name="ROSCONSOLE_FORMAT" value='[${severity}]: ${message}'/>

  <group if="$(eval arg('policy') == 'NIL')">
    <node name="policyTester" pkg="active_vision" type="policyTester" args="0" output="screen"/>
  </group>
  <group if="$(eval arg('policy') == 'HEURISTIC')">
    <node name="heuristicPolicyService" pkg="active_vision" type="heuristicPolicyService" args="0" output="screen" launch-prefix="gnome-terminal --" />
    <node name="policyTester" pkg="active_vision" type="policyTester" args="1" output="screen"/>
  </group>
  <group if="$(eval arg('policy') == 'PCA_LDA')">
    <node name="trainedPolicyService" pkg="active_vision" type="trainedPolicyService.py" output="screen" launch-prefix="gnome-terminal --"/>
    <node name="policyTester" pkg="active_vision" type="policyTester" args="2" output="screen" launch-prefix="gnome-terminal --"/>
  </group>
  <group if="$(eval arg('policy') == 'PCA')">
    <node name="trainedPolicyService" pkg="active_vision" type="trainedPolicyService.py" output="screen" launch-prefix="gnome-terminal --"/>
    <node name="policyTester" pkg="active_vision" type="policyTester" args="2" output="screen" launch-prefix="gnome-terminal --"/>
  </group>

</launch>
