<launch>
  <arg name="serial_no"             default=""/>
  <arg name="json_file_path"        default=""/>
  <arg name="camera"                default="camera"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="realsense_link_broadcaster1"
        args="0.03 -0.0175 0.06 3.1415 -1.571 0 panda_hand camera_link_temp" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="realsense_link_broadcaster2"
        args="0 0 0 0.509155 -0.498664 0.505453 -0.486428 camera_link_temp camera_link_temp1" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="realsense_link_broadcaster3"
        args="0 0 0 1.5707 -1.5707 0 camera_link_temp1 camera_link" />

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="realsense_link_broadcaster1"
        args="0.03 -0.0175 0.06 3.1415 -1.571 0 panda_hand camera_link_temp" /> -->
  <!-- Accounting for slight pitch -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="realsense_link_broadcaster2"
        args="0 0 0 0 0.028 0 camera_link_temp camera_link" /> -->

  <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"         value="$(arg serial_no)"/>
      <arg name="json_file_path"    value="$(arg json_file_path)"/>
      <arg name="depth_width"       value="640"/>
      <arg name="depth_height"      value="480"/>
      <arg name="depth_fps"         value="6"/>
      <arg name="color_width"       value="640"/>
      <arg name="color_height"      value="480"/>
      <arg name="color_fps"         value="6"/>
      <arg name="enable_depth"      value="true"/>
      <arg name="enable_color"      value="true"/>
      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="enable_fisheye"    value="false"/>
      <arg name="enable_gyro"       value="false"/>
      <arg name="enable_accel"      value="false"/>
      <arg name="enable_pointcloud" value="true"/>
      <arg name="ordered_pc"        value="true"/>
      <arg name="enable_sync"       value="true"/>
      <arg name="tf_prefix"         value="$(arg camera)"/>
      <arg name="align_depth"       value="true"/>

      <arg name="initial_reset"     value="true"/>
    </include>

    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />
  </group>

</launch>
