<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
  <xacro:panda_arm />
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/>
<!--Camera link and plugin-->
  <xacro:include filename="$(find franka_description)/robots/camera.xacro"/>
    <xacro:camera_sensor xyz="0 0 0.12" 
                  rpy="0 -1.5708 0"
                  parent="panda_link8">
    </xacro:camera_sensor>
</robot>
