<?xml version="1.0" ?>
<launch>
  <!-- Launch Gazebo -->
  <include file="$(find franka_gazebo)/launch/franka.launch"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find franka_control)/config/panda_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/panda" args="joint_state_controller
					  joint1_position_controller
					  joint2_position_controller
					  joint3_position_controller
					  joint4_position_controller
					  joint5_position_controller
					  joint6_position_controller
					  joint7_position_controller"/> 


<!-- Testing -->

  <!-- Convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="panda/joint_states" />
  </node> 

</launch>
