<robot name="sugar_box">
  <link name="sugar_box">
    <inertial>
      <origin xyz="0 0 0"/> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
      <static>true</static>
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <static>true</static>
      <geometry>
        <mesh filename="package://object_models/models/004_sugar_box/google_16k/textured.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <static>true</static>
      <geometry>
        <mesh filename="package://object_models/models/004_sugar_box/google_16k/nontextured.stl" />
      </geometry>
    </collision>
  </link>
  <gazebo>
    <static>true</static>
<!--     <material>
      <uri>sugar_box"</uri>
    </material> -->
  </gazebo>
</robot>
