<?xml version="1.0"?>

<robot name="custom_table">
  <gazebo>
    <static>true</static>
  </gazebo>

  <gazebo reference="table">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <kp>10000000</kp>
    <kd>1</kd>
    <minDepth>0.001</minDepth>
  </gazebo>

  <link name="table">
    <collision>
      <geometry>
        <box size="0.5 0.5 0.3"/>
      </geometry>
      <contact_coefficients
        mu="0.5"
        kp="1000000"
        kd="10000"/>
    </collision>
    <visual>
      <geometry>
        <box size="0.5 0.5 0.3"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.5"/>
      <inertia
        ixx="1e-06" ixy="0.0" ixz="0.0"
        iyy="1e-06" iyz="0.0"
        izz="1e-05"/>
    </inertial>
  </link>

  <gazebo reference="table">
  <material>Gazebo/Wood</material>
  </gazebo>

</robot>
