<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find franka_gazebo)/world/franka.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <arg name="allow_trajectory_execution" default="true"/>

  <include ns="move_group" file="$(find panda_moveit_config)/launch/sensor_manager.launch.xml" if="$(arg allow_trajectory_execution)">
  <arg name="moveit_sensor_manager" value="panda" />
  </include>

<!-- Convert an xacro and put on parameter server -->
<param name="robot_description" command="$(find xacro)/xacro.py $(find franka_description)/robots/panda_arm_hand.urdf.xacro" />

<!-- Spawn a robot into Gazebo--> 
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -z 1 -model panda" />

<!-- Spawn items from the YCB dataset    ======works=====  
<node name="spawn_bowl_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find object_models)/models/urdf/bowl.urdf -urdf -model bowl -x 1 -y 0 -z 1.1" />-->

<!-- Spawn items from the YCB dataset    ======testing===== <node name="spawn_sugar_box_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find object_models)/models/urdf/sugar_box.urdf -urdf -model sugar_box -x 1 -y 0 -z 1.1" />-->


</launch>
